/* Global variables.  */
/* The colors are defined in src/_data/designTokens/colors.js, using the colorjs.io package. */

/* Basic variable definitions for color schemes */
:root {
  color-scheme: light dark;
  --gutter: var(--space-xs-l);
  --border-radius: 0.1rem;
  --transition-duration: 250ms;
  --transition-timing: ease;
  --wrapper-width: 100rem;
  --tracking: -0.05ch;
  --tracking-s: -0.075ch;
  --tracking-wide: 0.05ch;

  --gradient-conic: conic-gradient(
    var(--color-highlight) 0 28%,
    var(--color-shade) 0 67%,
    var(--color-desaturated) 0 100%
  );
}

/* Default / Light theme specific variables */
:root,
:root[data-theme='light'] {
  --color-bg-accent: color-mix(in oklab, var(--color-bg) 90%, var(--color-text));
  --color-primary: gold;
  --color-light: color-mix(in oklab, var(--color-primary) 5%, white);
  --color-dark: color-mix(in oklab, var(--color-primary) 5%, black);
  --color-bg: var(--color-light);
  --color-text: var(--color-dark);
}

/* Dark theme specific variables based on system preference */
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-dark);
    --color-text: var(--color-light);
  }
}

:root[data-theme='dark'] {
  --color-bg: var(--color-dark);
  --color-text: var(--color-light);
}
