.toolbox h3 {
  font-weight: var(--font-bold);
  font-size: var(--size-step-0);
  text-transform: uppercase;
  font-size: var(--size-step-min-1);
}

.toolbox li {
  font-size: var(--size-step-min-1);
}

.toolbox li + li {
  padding-block-start: var(--space-xs);
}
