<custom-theme>
  <h2 id="theme-switcher-label">{{ meta.themeSwitch.title }}</h2>
  <!-- SVG acts as the toggle button; style changes reflect the current theme -->
  <button class="button" id="theme-toggle" aria-label="Toggle theme">
		<custom-lightbulb></custom-lightbulb>
  </button>
</custom-theme>