<div class="switcher py-size-1 breakout">
  <!--  -->

  {% imagePlaceholder "./src/_assets/images/lene.jpg", "bg-transparent pt-size-0", "
  h-full", "object-cover w-full h-max rounded-tr-2xl", "Lene in front of her desk, smiling
  for the foto in a blazer she wouldn't normally wear", "Me in my (home)office", "
  (max-width: 463px) 400px, (max-width: 718px) 700px, (max-width: 912px) 400px, 700px" %}

  <div class="font-display text-size-2 opacity-80">
    I enjoy building sites with vanilla Javascript and the possibilities of modern CSS.
    Currently I'm tinkering with combining the
    <a href="https://cube.fyi/">CUBE CSS</a> methodology and algorithmic layout design of
    <a href="https://every-layout.dev/">Every Layout</a> with the utility classes of
    <a href="https://tailwindcss.com/">Tailwind CSS</a> to get the best of both worlds.
  </div>
</div>
