<!-- accessible web component solution based on heydon pickerings inclusive component: https://inclusive-components.design/collapsible-sections/  -->

<div class="content mx-auto flow">
  <h2 id="projects">{{ projects.title }}</h2>
  <p>{{ projects.content }}</p>

  <div class="collapsible">
    {%- for project in collections.projects -%}

    <toggle-section open="false">
      <h3 class="mt-size-0">{{ project.data.title }}</h3>

      <p>{{ project.data.description }}</p>

      <div class="switcher">
        <section>
          <h4 class="mt-size-2">Technologies</h4>

          <ul>
            {%- for item in project.data.technologies -%}

            <li>
              {{ item }}
            </li>
            {%- endfor -%}
          </ul>
        </section>

        <section class="mb-size-3">
          <h4 class="mt-size-2 mb-size-1">Visit website</h4>

          <a
            href="{{ project.data.link }}"
            class="box | boxborder linkbutton"
            style="--space: 0.333em"
            >{{ project.data.link | replace("https://", "") }}</a
          >
        </section>
      </div>

      <div class="breakout sidebar mb-size-4">
        {% image project.data.mobile.img, "h-full", "object-cover w-full h-max
        rounded-tr-2xl boxborder", project.data.mobile.alt, "lazy", " (max-width: 465px)
        400px, (max-width: 765px) 700px, 400px" %} {% image project.data.desktop.img,
        "h-full", "object-cover w-full h-max rounded-tr-2xl boxborder",
        project.data.desktop.alt, "lazy", "(max-width: 465px) 400px, (max-width: 1150px)
        700px, 1200px" %}
      </div>
    </toggle-section>

    {%- endfor -%}
  </div>
</div>
