<!DOCTYPE html>
<html lang="{{ meta.lang }}">
  <head>
    <!-- include head  -->
    {% include "partials/head.njk" %}

    <!-- check if production -->
    {% if meta.env %}
    <!-- set inline css -->
    {% set css %}{% include "global.min.css" %}{% include "cube.min.css" %}{% endset %}
    <style nonce="a2cx1c3">
      {{ css | cssmin | safe }}
    </style>
    {% else %}
    <link rel="stylesheet" href="/_assets/css/global.css" />
    <link rel="stylesheet" href="/_assets/css/cube.css" />
    {% endif %}

    <!-- defer js file  -->
    <script src="/_assets/app.min.js"></script>

    <!-- include base schema  -->
    {%- include "schemas/base-schema.njk" %}
  </head>

  <body>
    <div class="wrapper z-10">{%- include "components/lightbulb.njk" %}</div>

    <div hidden>{% svgSprite %}</div>
    <!-- include logo, menu  -->
    {% include "partials/header.njk" %}

    {{ content | safe }}

    <!-- include lfooter  -->
    {% include "partials/footer.njk" %}
  </body>
</html>
