<!DOCTYPE html>
<html lang="{{ meta.lang }}">
  <head>
    <!-- include head  -->
    {% include "partials/head.njk" %}

    <!-- inline css -->
    <!--    {% if meta.env %} {% set css %}{% include "global.min.css" %}{% include "cube.min.css" %}{% endset %}
    <style nonce="a2cx1c3">
      {{ css | cssmin | safe }}
    </style>     {% endif %} -->

    <!-- not inlining for readability -->
    <link rel="stylesheet" href="/_assets/css/global.css" />
    <link rel="stylesheet" href="/_assets/css/cube.css" />

    <!-- defering js  -->
    <script src="/_assets/app.min.js" defer></script>

    <!-- include base schema  -->
    {%- include "schemas/base-schema.njk" %}
  </head>

  <body>
    <div class="wrapper z-10">{%- include "components/lightbulb.njk" %}</div>

    <div hidden>{% svgSprite %}</div>
    <!-- include logo, menu  -->
    {% include "partials/header.njk" %}

    {{ content | safe }}

    <!-- include lfooter  -->
    {% include "partials/footer.njk" %}
  </body>
</html>
