---
layout: base
---

<main id="main" class="wrapper mt-size-3">
  <div class="flow">
    <article class="content mx-auto flow">
      {{ content | safe }}
    </article>
    <!-- toolbox, loops over global data file -->
    {% include "components/toolbox.njk" %}
    <!-- projects, native web component -->
    {% include "components/projects-collapsible.njk" %}
    <!-- learnings, loops over global data file -->
    {% include "components/learnings.njk" %}
  </div>
</main>
