---
permalink: /humans.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---

/* TEAM */
	Name: {{ meta.author }}
	Site: {{ meta.siteURL }}
	{% if meta.meta_data.twitter %}Twitter: {{ meta.meta_data.twitter }}{% endif %}

/* SITE */
	Doctype: HTML5