<p>{{ learnings.content }}</p>
{%- for product in learnings.products -%}
  <article class="learning | sidebar">
    {% image product.image | replace("/", "./src/assets/images/learnings/"), product.alt %}
    <div class="flow">
      <h3>{{ product.title }}</h3>
      <ul role="list" class="cluster">
        <li>{{ product.medium }}</li>
        <li>{{ product.year }}</li>
        <li>{{ product.topic }}</li>
        <li><a href="{{ product.link }}">{{ product.linkText }}</a></li>
      </ul>
      <p>{{ product.opinion }}</p>
    </div>
  </article>
{%- endfor -%}
