@import 'utils/_fonts.css';
@import 'utils/_tailwind.css';
@import 'utils/_accessibility.css';
@import 'utils/_animation.css';
@import 'utils/_lite-youtube.css';

html {
  scroll-behavior: smooth;
  @apply font-body text-base sm:text-lg;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 10ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 10ms !important;
    scroll-behavior: auto !important;
  }
}

[id] {
  scroll-margin-top: 1em;
}

#fade img {
  transition: opacity 0.5s ease-in;
}

#fade img + img {
  opacity: 0;
}

.transition-standard {
  @apply transition duration-200 ease-in-out transform hover:-translate-y-0.5 hover:scale-105;
}

/* parent a must be block/relative. nav must have class of navbar */

@media (min-width: 768px) {
  .navbar a[aria-current='page']::before,
  .navbar a[data-state='active']::before {
    content: '';
    display: block;
    width: 100%;
    height: 0.25rem;
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-top: 0.25rem;
    background: #000;
  }
}

@media (max-width: 767px) {
  .navbar a[aria-current='page'] span,
  .navbar a[data-state='active'] span {
    @apply border-4 border-black;
  }
}
