@import 'custom-props.css';
@import 'reset.css';
@import 'typography.css';

@import 'components/nav.css';
@import 'components/skip-link.css';
@import 'components/lightbulb.css';
@import 'components/collapsible.css';

/* Global styles */

html {
	/* block body's background propagation */
	background-color: var(--color-light);
}

body {
	color: var(--color-dark);
	background-color: var(--color-light);
	@apply text-size-1 font-body;
}

*:not([.lightbulb]) {
	background-color: inherit;
}

body.invert {
	filter: invert(100%);
}

/* don't invert raster images or videos  */
.invert img:not([src*='.svg']),
video {
	filter: invert(100%);
}

h1:not([class]),
h2:not([class]),
h3:not([class]) {
	@apply font-display;
	line-height: 1.1;
	font-weight: 400;
}

h1:not([class]) {
	@apply text-size-2;
}

h2:not([class]) {
	@apply text-size-4 mb-size-2 mt-size-4;
}

h3:not([class]) {
	@apply text-size-3;
}

p,
li {
	max-width: 70ch;
}

h1 {
	max-width: 15ch;
}

h2,
h3 {
	max-width: 30ch;
}

a {
	color: currentcolor;
	text-decoration: none;
}

a:not(.heading-anchor, .logo, .linkbutton, .nav) {
	text-decoration: underline;
	text-decoration-color: var(--color-primary);
	-webkit-text-decoration-color: var(--color-primary);
	text-decoration-color: var(--color-primary);
}

/* Prose */

h2,
h3 {
	--flow-space: var(--space-size-3);
}

h2 + *,
h3 + * {
	--flow-space: var(--space-base);
}

/* a11y */

:focus,
button:focus {
	outline: var(--color-primary) solid 3px;
	outline-offset: 0.15rem;
}

:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
	outline: none;
}

:focus-visible,
button:focus-visible {
	outline: var(--color-primary) solid 3px;
	outline-offset: 0.15rem;
}

article [href^='http']:not([href*='lene.dev'])::after {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url('./_assets/svg/icn-external.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60% auto;
	/* alternative text rules */
	content: '(external link)';
	overflow: hidden;
	white-space: nowrap;
	text-indent: 1em; /* the width of the icon */
}

.boxborder {
	border: 2px solid var(--color-dark);
	border-radius: var(--space, var(--space-size-1, 0.6em));
}

/* So text scale renders nicely */

div[class*='text-'] {
	--flow-space: 1rem;
	line-height: 1.3;
}
