<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class="wrapper | py-size-1 relative" role="banner">
  <div class="sidebar | max-w-prose mx-auto items-center">
    <h1>
      <a href="/" class="logo | font-bold no-underline"> Lene Saile </a>
    </h1>

    {% include "partials/menu.njk" %}
  </div>
</header>

{% svg "seperator", "mx-auto w-full h-5", visible, "seperator" %}
