{% set assetHash = helpers.random() %}

<script type="module" src="/assets/scripts/components/sparkly-text.js?{{ assetHash }}"></script>
<script defer data-domain="lene.dev" src="https://plausible.io/js/plausible.js?{{ assetHash }}"></script>
